*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: whitesmoke;
}


div{
    border: 2px solid #7fffd4;
    background-color: #ffffff;
    color: #252525;
    border-radius: 6px;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 224px 16px 16px 16px;
    width: 256px;
    overflow: hidden;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}

div:hover {
    border: 2px solid #00ab72; 
   }

div p{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 48px;
}

div::before{
    content: '';
    position: absolute;
    top: -90px;
    left: -120px;
    z-index: -1;
    background: linear-gradient(to right, #00a7df, #03c0ff);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: 4s animation-div-before infinite ease-in-out;
    -webkit-animation: 4s animation-div-before infinite ease-in-out;
}

div::after{
    content: '';
    position: absolute;
    top: -110px;
    right: -100px;
    z-index: -1;
    background: linear-gradient(to right, #654692, #03c0ff);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 280px;
    height: 280px;
    opacity: 0.9;
    animation: 4s animation-div-after infinite ease-in-out;
    -webkit-animation: 4s animation-div-after infinite ease-in-out;
}

@keyframes animation-div-before {
    0%{
        top: -90px;
        left: -120px;
    }
    50%{
        top: -65px;
        left: -130px;
    }
    100%{
        top: -90px;
        left: -120px;
    }
}

@keyframes animation-div-before {
    0%{
        top: -110px;
        left: -100px;
    }
    50%{
        top: -120px;
        left: -120px;
    }
    100%{
        top: -110px;
        left: -100px;
    }
}